table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  
  /* playercard opmaak */
  #playercard{
    display: inline-block;
    width:200px;
    height:300px;
    background-image: url("../images/bronze.png");
    background-repeat:no-repeat;
    background-size: 200px 300px ;
    /* outline:1px dotted red;  TEST Outline */
  }
  .linker{
    display: inline-block;
    width:70px;
    height:130px;
    margin-top: 20px;
    /* outline:1px dotted blue;  TEST Outline */
  }
  .linker div{
    
    display: inline-block;
    width: 70px;
    height: 35px;
    /* outline:1px dotted blue;  TEST Outline */

  }
  .linker div img{
    display: block;
    margin: auto;
    margin-top: 5px;
  }

  .rechter{
    float: right;
    width:130px;
    height:130px;
    margin-top: 20px;
    margin-right: 0px;
    /* outline:1px dotted yellow;  TEST Outline */
  }
  .onder{
    display: inline-block;
    width:200px;
    height:90px;
    margin-top: 15px;
    margin-left: 0px;
    /* outline:1px dotted purple;  TEST Outline */
  } 
  .displaynaam{
    font-family: "DINPro-Cond-Bold",Arial,sans-serif;
    font-weight: bold;
    height: 15px;
    font-size: 12px;
    text-align: center;
    /* outline:1px dotted white;  TEST Outline */
  } 
  .displaytekstgetal{
    font-family: "DINPro-Cond-Bold",Arial,sans-serif;
    font-size: 2px;
    padding-top: 10px;

  }
  .displaylinks, .displayrechts{
    padding: 0 10 0 10;
    height: 75px;
    display: inline-block;
    /* outline:1px dotted blue;  TEST Outline */
  }
  .displayrechts{
    margin-right: 12px;
    float: right;
  }
  .displaylinks{
    margin-left: 12px;
  }
  .snelheidtekst, .snelheidgetal{
    display: inline-block;
    font-size: 12px;
  }
  .rechter img{
    margin-left: 15px;
    margin-top: 30px;
    width: 100px;
    height: 100px;

  }
  .linker img{
    display: inline-block;
    margin-left: 35px;
    margin-top: 10px;
    width: 30px;
    height: 20px;
  }